<div class="jumbotron">
    <h1 class="display-4"> <%= t('welcome')%> <%= nome_aplicacao %>!!</h1>
    <p class="lead"><%= t('actual_locale') %> | <strong><%= l(Date.today) %></strong></p>
    <hr class="my-4">
    <p><%= t('start')%></p>
    <%= render "menu" %>
</div>
