<!DOCTYPE html>
<html>

<head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
    <!--isso faz com que ele carregue apenas os estilos relacionados a aquele controller -->
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs justify-content-end">
            <%= link_to "Home", root_path, class: "navbar-brand"%>
            <li class="nav-item">
                <%= link_to "Português", root_path(locale: 'pt-BR'), class: (cookies[:locale] == 'pt-BR' ? "nav-link active" : "nav-link") %>
            </li>
            <li class="nav-item">
                <%= link_to  "Inglês", root_path(locale: 'en'), class: (cookies[:locale] == 'en' ? "nav-link active" : "nav-link") %>
            </li>
        </ul>
        <%= yield %>
    </div>
    <!--<script>
        $.notify("I'm over here !");
    </script>-->
</body>

</html>